h1{
    text-align: center;
    color: var(--color-gray-300); 
}

form{
    max-width: 25rem;
    margin: var(--space-8) auto;
    padding: var(--space-4);
    background-color:darkred;
    border-radius: var(--border-raduis-medium);
    text-align: center;
}

form a {
    color: white;   
}

form a:hover,
form a:active{
    color: var(--color-primary-400);
}